body {
  font-family: sans-serif;
}

#info {
  position: absolute;
  padding: 1%;
  z-index: 15;
  text-align: center;
  background-color: rgba(255,255,255, 0.8);
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 445px;
  border-radius: 3px;
  text-shadow: -1px 1px 0px #;
  border-style: solid;
  border-width: 1px;
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}
